.Score {
    display: flex;
    align-self: flex-start;
    position: absolute;
    top: 0.21vw;
    left: 0.21vw;
    flex-direction: row;
    padding: 0.1vw 0.42vw 0.1vw 0.31vw;
    width: 2.5vw;
    height: 1.04vw;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1.0.26vw);
    border-radius: 0.42vw;
    border: 0.05vw solid rgba(194, 194, 194, 0.1);
    justify-content: center;
    z-index: 2;
}

.Score p {
    color: white;
    font-family: "Inter", monospace;
    font-size: 0.62vw;
    font-weight: 600;
    margin-left: 0.26vw;
    margin-top: 0.16vw;
}