.AnimeItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    position: relative;
    transition: transform .3s;
    will-change: transform, z-index, opacity;
    transform: translateZ(0);
    contain: layout;
}

.ImageWrapper {
    transition: all 0.3s;
}

.ImageWrapper img {
    width: 11.15rem;
    height: 16.51rem;
    max-height: 16.46rem;
    object-fit: cover;
    border-radius: 0.42rem;
    image-rendering: high-quality;
}

.ImageWrapper::after {
    content: "";
    border-radius: 0.26rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 5.21rem 0 2.6rem -0.21rem rgba(14, 22, 31, 0.5), -5.21rem 0 2.6rem -0.21rem rgba(14, 22, 31, 0.5);
    -webkit-box-shadow: 5.21rem 0 2.6rem -0.21rem rgba(14, 22, 31, 0.5), -5.21rem 0 2.6rem -0.21rem rgba(14, 22, 31, 0.5);
    -moz-box-shadow: 5.21rem 0 2.6rem -0.21rem rgba(14, 22, 31, 0.5), -5.21rem 0 2.6rem -0.21rem rgba(14, 22, 31, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
}

.AnimeItem:hover .ImageWrapper::after {
    opacity: 1;
}

.AnimeItem:hover {
    transform: scale(1.1);
}

.AnimeItem h1 {
    text-align: center;
    margin-top: 0.1rem;
    color: white;
    font-family: "Inter", monospace;
    font-size: 0.83rem;
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

@media (max-width: 768px) {
    .ImageWrapper img {
        width: 8rem; 
        height: 12rem;
        max-height: 12rem; 
    }

    .AnimeItem h1 {
        font-size: 0.75rem; 
    }

    .AnimeItem:hover {
        transform: scale(1.05); 
    }
}