/*Fonts*/

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.MainContainer {
    display:flex;
    min-height: 100vh;
    flex-direction: column;
    background: rgba(14, 22, 31, 1);
}