.Container {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 18.23rem;
    max-height: 500px;
    overflow-y: scroll;
    background: rgba(25, 32, 39, 1);
    border-radius: 16px;
    padding: 8px 0 8px 0;
    z-index: 1000;
}