.Aya {
    display: flex;
    flex-direction: column;
    margin-top: 0.78rem;
    align-items: center;
}

.Aya img {
    width: 7.81rem;
    height: auto;
}

.Aya h1 {
    text-align: center;
    color: white;
}

.Aya p {
    font-family: Inter, monospace;
    color: white;
    font-size: 1.04rem;
}

.Aya a {
    color: white;
}