.Container {
    display: flex;
    flex-direction: column;
}

.Photo {
    position: absolute;
    width: 10.42rem;
    height: 10.42rem;
    border-radius: 105px;
    border: 0.16rem solid rgba(255, 255, 255, 0.1);
    margin-left: 1.3rem;
    margin-top: 17.71rem;
}

.Banner {
    width: 100%;
    height: 31.25rem;
    object-fit: cover;
}

.StatBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 22.92rem;
    background-color: rgba(14, 22, 31, 1);
    border-radius: 1.25rem 1.25rem 0 0;
}

.InfoContainer {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-top: 22.4rem;
    margin-left: 13.02rem;
}

.Credentials {
    display: flex;
    flex-direction: column;
    width: 65.1rem;
    margin-right: 1.3rem;
}

.Name {
    font-family: Inter, monospace;
    font-size: 32px;
    line-height: 38px;
    font-weight: 500;
    color: white;
    margin-bottom: 0;
}

.Status {
    color: rgba(81, 222, 206, 1);
    font-weight: 400;
    font-size: 0.78rem;
    line-height: 0.94rem;
    font-family: Inter, monospace;
    margin-top: 0.21rem;
}

.Statistics {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px;
    gap: 8px;
    z-index: 2;
}

.SocialNetworks {
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 1.15rem;
}

.SocialIcon {
    width: 1.56rem;
    height: 1.56rem;
}

.MenuContainer {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-left: 40px;
}

.MenuItemContainer {
    display: flex;
    flex-direction: column;

}