.Container {
    display: flex;
    flex-direction: column;
}

.Photo {
    position: absolute;
    width: 10.42vw;
    height: 10.42vw;
    border-radius: 2.08vw;
    border: 0.16vw solid rgba(255, 255, 255, 0.1);
    margin-left: 1.3vw;
    margin-top: 17.71vw;
}

.Banner {
    width: 100%;
    height: 31.25vw;
    object-fit: cover;
}

.StatBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 22.92vw;
    background-color: rgba(14, 22, 31, 1);
    border-radius: 1.25vw 1.25vw 0 0;
}

.InfoContainer {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-top: 22.4vw;
    margin-left: 13.02vw;
}

.Credentials {
    display: flex;
    flex-direction: column;
    width: 65.1vw;
    margin-right: 1.3vw;
}

.Name {
    font-family: Inter, monospace;
    font-size: 1.67vw;
    line-height: 1.98vw;
    font-weight: 500;
    color: white;
    margin-bottom: 0;
}

.Status {
    color: rgba(81, 222, 206, 1);
    font-weight: 400;
    font-size: 0.78vw;
    line-height: 0.94vw;
    font-family: Inter, monospace;
    margin-top: 0.21vw;
}

.SocialNetworks {
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 1.15vw;
}

.SocialIcon {
    width: 1.56vw;
    height: 1.56vw;
}