.Anime {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0.78vw;
}

.expand_description {
    font-size: 0.94vw;
    font-weight: 400;
    font-family: Inter, monospace;
    color: rgba(47, 128, 237, 1);
    cursor: pointer;
    margin: 0;
}

.Media {
    display: flex;
    flex-direction: column;
}

.Rating {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 10.42vw;
    height: auto;
    padding: 0;
    gap: 0.42vw;
}

.Stars {
    display: flex;
    flex-direction: row;
}

.Star {
    width: 1.04vw;
    height: 1.04vw;
    margin-right: 0.31vw;
}

.Rating p {
    font-family: Inter, monospace;
    font-weight: 400;
    font-size: 0.8vw;
    color: rgba(134, 134, 134, 1);
    margin: 0;
}

.Rating h2 {
    font-family: Inter, monospace;
    font-weight: 600;
    font-size: 2.5vw;
    margin: 0;
}

.Info {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0.78vw;
    margin-right: 0.78vw;
    justify-content: space-between;
}

.Media img {
    width: 18vw;
    height: 27vw;
    border-radius: 0.83vw;
}

.Details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 61vw;
    margin-top: 1.25vw;
}

.Details-block {
    display: flex;
    flex-direction: column;
    gap: 0.21vw
}

.Detail-name {
    font-size: 0.8vw;
    font-family: Inter, monospace;
    font-weight: 400;
    color: rgba(134, 134, 134, 1);
    margin: 0;
}

.Detail-value {
    font-size: 0.8vw;
    font-family: Inter, monospace;
    font-weight: 400;
    color: white;
    margin: 0 0 0 0.78vw;
}

.Info h1 {
    font-size: 1.7vw;
    margin-top: 0;
    text-align: start;
    font-family: "Inter", monospace;
    color: white;
    width: 100%;
}

.description {
    font-size: 1vw;
    line-height: 1.4vw;
    margin-top: 0;
    margin-right: 0.78vw;
    width: 61vw;

    color: white;

    font-family: "Inter", monospace;
}

@media (max-width: 26.04vw) {
    .Anime {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .Anime img {
        width: 7.81vw;
    }
    .Text h1 {
        font-size: 0.62vw;

        margin-top: 0.78vw;
    }

    .Text p {
        text-align: center;
        margin-right: 0;
    }
}