.AnimeItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 11.67vw;
    position: relative;
}

.AnimeItem:hover {
    transform: scale(1.05);
    transition: transform .3s;
}

.AnimeItem img {
    width: 11.67vw;
    height: 16.46vw;
    max-height: 16.46vw;
    object-fit: cover;
    border-radius: 0.42vw;
    z-index: 99999;
    -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
    -ms-transform: translateZ(0); /* IE 9 */
    transform: translate3d(0px, 0px, 0.1px);
    image-rendering: high-quality;
}

.AnimeItem h1 {
    text-align: center;
    margin-top: 0.1vw;
    color: white;
    font-family: "Inter", monospace;
    font-size: 0.83vw;
    font-weight: 500;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
}