.AnimeListContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: auto;
}

.AnimeList {
    display: flex;
    flex-direction: row;
    width: 100%;
    scroll-behavior: smooth;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    padding-top: 10px;
}

/* Disable scrollbar for WebKit browsers */
.element::-webkit-scrollbar {
    display: none;
}


.Arrow {
    /*position: absolute;*/
    /*top: 50%;*/
    /*transform: translateY(-50%); !* Центрируем стрелки по вертикали *!*/
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    /*padding: 10px;*/
    cursor: pointer;
    /*z-index: 10; !* Устанавливаем высокий z-index, чтобы стрелки были поверх изображений *!*/
}

.Arrow.left {
    /*left: 0;*/
}

.Arrow.right {
    /*right: 0;*/
}

.Arrow:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Изменяем цвет при наведении */
}