.commentFieldContainer {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.editable {
    min-height: 10rem;
    border-radius: 0.83rem;
    background-color: rgba(25, 32, 39, 1);
    overflow: auto;
    white-space: pre-wrap;
    box-sizing: border-box;
    line-height: 1.41rem;
    font-weight: 400;
    font-family: Inter, monospace;
    font-size: 0.94rem;
    color: white;
    padding: 0.89rem 1.25rem 0.89rem 1.25rem;
}

.editable:focus {
    outline: none;
}

.editable:empty::before {
    content: attr(data-placeholder);
    color: white;
}

.stylesContainer {
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 0.83rem;
    align-items: center;
}

.styleIcon {
    height: 1.04rem;
    width: 1.04rem;
    cursor: pointer;
}

.spoilerIcon {
    font-family: Inter, monospace;
    font-size: 0.89rem;
    font-weight: 400;
    line-height: 1.35rem;
    color: white;
    margin: 0;
    cursor: pointer;
    user-select: none;
}

.spoiler {
    color: transparent;
    background-color: black;
    transition: all 0.3s ease;
}

.spoiler:hover {
    background-color: transparent;
    color: white;
}
