.Footer {
    height: 5.21rem;
    display: flex;
    background-color: #121212;
    justify-content: center;
    flex-direction: column;
    margin-top: auto;
    z-index: 100;
    gap: 0.42rem;
}

.Text {
    font-family: Inter, monospace;
    font-weight: 400;
    font-size: 0.78rem;
    line-height: 0.94rem;
    color: rgba(134, 134, 134, 1);
    align-self: center;
    margin: 0 0 0 0;
}

.Telegram {
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 0.52rem;
}

.Link {
    font-family: Inter, monospace;
    font-weight: 400;
    font-size: 0.78rem;
    line-height: 0.94rem;
    color: rgba(134, 134, 134, 1);
    text-decoration: none;
    align-self: center;
}

.Icon {
    height: 1.56rem;
    width: 1.56rem;
}