.Footer {
    display: flex;
    background-color: rgba(14, 22, 31, 1);
    justify-content: center;
    /*flex-direction: column;*/
    align-content: flex-end;
    margin-top: auto;
}

.Footer p {
    color: white;
}