.Container {
    width: 20.83vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Container input {
    width: 18.33vw;
    height: 2.6vw;
    border-radius: 0.83vw;
    border: none;
    background: rgba(69, 69, 69, 0.8);
    color: white;
    margin-top: 0.42vw;
    margin-bottom: 0;
    font-family: Inter, monospace;
    text-align: start;
    box-sizing: border-box;
    padding-left: 1.25vw;
}

.Container input:focus {
  outline: none;
  border: 0.1vw solid rgba(47, 128, 237, 1);
}

.Container button {
    width: 18.33vw;
    height: 2.6vw;
    margin-top: 1.82vw;
    background: rgba(47, 128, 237, 1);
    text-align: center;
    font-family: Inter, monospace;
    font-size: 1.04vw;
    font-weight: 500;
    line-height: 1.25vw;
    color: white;
    border: none;
    border-radius: 0.83vw;
}

.Container button:hover {
    background: rgba(19, 103, 216, 1);
}

.clickableText {
    font-family: Inter, monospace;
    font-size: 0.83vw;
    font-weight: 400;
    line-height: 1.15vw;
    text-align: left;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(47, 128, 237, 1);
    cursor: pointer;
}

.whiteClickableText {
    font-family: Inter, monospace;
    font-size: 0.83vw;
    font-weight: 400;
    line-height: 1.15vw;
    text-align: left;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
    cursor: pointer;
}

.Other_login_methods {
    color: rgba(134, 134, 134, 1);
    font-family: Inter, monospace;
    font-weight: 400;
    font-size: 0.78vw;
    align-items: center;
}


.Other_login_methods:before{
    content: " ";
    background: rgba(134, 134, 134, 1);
    width: 4.17vw;
    height: 0.05vw;
    right: 1.56vw;
    position: absolute;
    margin: 0.52vw 0;
}

.Other_login_methods:after{
    content: " ";
    background: rgba(134, 134, 134, 1);
    width: 4.17vw;
    height: 0.05vw;
    left: 1.56vw;
    position: absolute;
    margin: 0.52vw 0;
}

.SocialNetworks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.04vw;
}

.error {
    border: 0.05vw solid red !important;
}

@keyframes shake {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(3deg); }
  50% { transform: rotate(0); }
  75% { transform: rotate(-3deg); }
  100% { transform: rotate(0deg); }
}

.shake {
    animation: shake 0.5s;
}
