.NotFound {
    display: flex;
    flex-direction: column;
    margin-top: 0.78vw;
    align-items: center;
}

.NotFound img {
    width: 26.04vw;
    height: auto;
}

.NotFound h1 {
    text-align: center;
    color: white;
}